@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0EFEA;
  --foreground: #171717;
  --primary: #00423D;
  --beige: #98916D;
  --green: #415C41;
  --orange: #B9704A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-gilroy);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
